<div class="contentmain">
    <div class="breadcumb">
        <a routerLink="/dashboard/principal">
            <mat-icon>home</mat-icon>
        </a>
        <a routerLink="#"><span class="bread-item"> / Repuestos y Suministros </span></a>
        <a routerLink="#"><span class="bread-item"> / Creación </span></a>
        <a routerLink="materiasPrimas/consultarSolicitudes"><span class="bread-item"> / Consulta de Solicitudes </span></a>
        <a routerLink="#"><span class="bread-item"> / Nueva Solicitud </span></a>
    </div>
    <br>
    <div class="cabecera">
        <form [formGroup]="SolicitudForm" (ngSubmit)="crearSolicitud(SolicitudForm.value)">

            <mat-grid-list cols="4" rowHeight="80px" formGroupName="cabecera_solicitud">

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Linea de Negocio</mat-label>
                        <mat-select formControlName="linea_negocio">
                            <mat-option *ngFor="let linea_negocio of listadoLineasNegocio" [value]="linea_negocio">{{ linea_negocio.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Descripción corta</mat-label>
                        <input matInput placeholder="Descripción corta" formControlName="descripcion">
                    </mat-form-field>
                </mat-grid-tile>




                <mat-grid-tile>
                    <button mat-raised-button color="accent" type="submit" [disabled]="SolicitudForm.invalid">Guardar</button> &nbsp;
                    <button mat-raised-button color="accent" type="submit" [disabled]="SolicitudForm.invalid">Guardar y Enviar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>

    <div class="content-table">
        <!-- <table mat-table [dataSource]="listadoMateriales" class="mat-elevation-z8" formArrayName="solicitud_materiales">

      <ng-container matColumnDef="producto_codigo">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i"><input matInput id="productoCodigo" type="text" formControlName="codigo"></td>
      </ng-container>

      <ng-container matColumnDef="id_producto">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>

          <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
              <button mat-icon-button color="accent" (click)="editarProducto(id_producto)">
              <mat-icon>edit</mat-icon>
            </button>
              <button mat-icon-button color="accent" (click)="eliminarProducto(id_producto)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
  </table> -->

    </div>

</div>