.contentDialog{
    display: block;
    min-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    /* min-height: 460px ; */
}
.content-table {
    position: relative;
    display: block;
    min-width: 600px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}
.dialogButton{
    top:20px;
    position: relative;
}
.file-input {
    display: none;
  }