<h3>Editar Usuario: {{usuariodata.nombre}}</h3>
<div class="contenidoForm">
    <form [formGroup]="editarFormDialog" (ngSubmit)="actualizarUsuario(editarFormDialog.value)">

        <mat-grid-list cols="2" rowHeight="100px">

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="Correo" formControlName="usuario" required>
                    <mat-hint>
                        <mat-error [hidden]="!(formErrors.usuario)">
                            {{formErrors.usuario}}
                        </mat-error>
                    </mat-hint>

                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="nombre" formControlName="nombre" required>
                </mat-form-field>
                <mat-hint>
                    <mat-error [hidden]="!(formErrors.nombre)">
                        {{formErrors.nombre}}
                    </mat-error>
                </mat-hint>
            </mat-grid-tile>

            
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Area</mat-label>
                    <mat-select formControlName="area_usuario" required>
                        <mat-option *ngFor="let area_usuario of listadoAreas" [value]="area_usuario.id">{{ area_usuario.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-spinner class="spinner" *ngIf="carga" diameter="40" color="accent" strokeWidth="7"></mat-spinner>
        <button mat-raised-button color="default" type="button" (click)="onNoClick()">Cerrar Ventana</button> &nbsp;
        <button mat-raised-button color="accent" type="submit" >Actualizar Usuario</button>
    </form>
</div>